<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="com/infosource/dao/org/TestUserDao.xml"/>
        <!--<mapper resource="com/infosource/dao/org/OrgDao.xml"/>
        <mapper resource="com/infosource/dao/org/ActionDao.xml"/>
        <mapper resource="com/infosource/dao/org/MenuDao.xml"/>
        <mapper resource="com/infosource/dao/org/RoleActionDao.xml"/>
        <mapper resource="com/infosource/dao/org/RoleMenuDao.xml"/>
        <mapper resource="com/infosource/dao/org/RoleDao.xml"/>
        <mapper resource="com/infosource/dao/org/UserDao.xml"/>
        <mapper resource="com/infosource/dao/org/UserRoleDao.xml"/>
        <mapper resource="com/infosource/dao/org/LoginLogDao.xml"/>
        <mapper resource="com/infosource/dao/org/SmsDao.xml"/>
        <mapper resource="com/infosource/dao/front/CaseInfoDao.xml"/>
        <mapper resource="com/infosource/dao/front/CaseInfoUserDao.xml"/>
        <mapper resource="com/infosource/dao/front/CaseProgressCommentDao.xml"/>-->
    </mappers>
</configuration>